<mat-toolbar color="primary" class="d-flex justify-content-between" [formGroup]="forma">
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="crearNuevoTablero()">
            <mat-icon>create_new_folder</mat-icon>
            <span>Nuevo Tablero</span>
        </button>
        <button mat-menu-item (click)="editarTablero(indexTableroSeleccionado)">
            <mat-icon>create</mat-icon>
            <span>Editar Tablero</span>
        </button>
        <button mat-menu-item (click)="eliminarTablero(indexTableroSeleccionado)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
        </button>
    </mat-menu>
    <mat-form-field appearance="legacy" class="text-center mx-auto" *ngIf="!flagEditNombre">
        <mat-select [(ngModel)]="indice" (selectionChange)="onSelectTablero()" formControlName="iTablero">
            <mat-option [value]="i" *ngFor="let tablero of iTableros; let i = index">{{tablero.nombre}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="text-center mx-auto" formControlName="nombre" *ngIf="flagEditNombre">
        <mat-label>Nuevo Nombre</mat-label>
        <input matInput (keyup.enter)="confirmEditName()">
    </mat-form-field>
    <!-- <input type="text" class="form-control" value="tablero.nombre" formControlName="nombre" *ngIf="flagEditNombre"> -->
</mat-toolbar>