<div class="container-fluid">
    <div class="row">
        <div class="col-5 text-center mx-auto pt-5">
            <mat-card class="example-card">
                <mat-card-header class="d-inline">
                    <mat-card-title>
                        <h1>Iniciar Sesión</h1>
                        <hr>
                    </mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img class="d-block mx-auto img-thumbnail rounded-circle img-login" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="mb-1">
                    <div class="form-group mb-1">
                        <mat-form-field>
                            <mat-label>Usuario:</mat-label>
                            <input matInput placeholder="Ex. Dani">
                        </mat-form-field>
                    </div>
                    <div class="form-group mb-1">
                        <mat-form-field>
                            <mat-label>Usuario:</mat-label>
                            <input matInput placeholder="Ex. Dani">
                        </mat-form-field>
                    </div>
                    <hr>
                </mat-card-content>
                <mat-card-actions class="pb-2">
                    <button mat-raised-button color="primary" routerLink="/home">Ingresar</button>
                    <button mat-raised-button color="warn">Salir</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>